@model Dish
<a asp-action="Index">Home</a>

<h1 style="">Add a new Dish!</h1>


<form action="/Add">
<div>
    <div style="display:inline-block; vertical-align:top; margin;:50px">
        <label>Name of Dish <br><input type="text" asp-for="Name"></label><br>
        <label>Chef's Name <br><input type="text" asp-for="Chef"></label><br>
        <label># of Calories <br><input type="text" asp-for="Calories"></label><br>
    </div>
    <div style="display:inline-block; vertical-align:top;margin:50px">
        Tastiness
        <select asp-for="Tastiness">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>
    <div style="display:inline-block;margin:50px">
        <p>Description</p><br>
        <textarea asp-for="Description" id="" cols="30" rows="10"></textarea> <br>
        <a><button asp-action="Add">Add Dish</button></a>
    </div>
</div>

</form>
